
/**************************************swiper***************************************/

.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    > .swiper-slide {
      position: relative;
      text-align: center;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background: url('') center/100% 100% no-repeat;
      .swiper-button-prev {
        background-image: url('http://s0.ifengimg.com/2017/11/09/prev_78887efa.png');
      }
      .swiper-button-next {
        background-image: url('http://s0.ifengimg.com/2017/11/09/next_f79b9ed3.png');
      }
    }
    /*****p1*****/
    .p1 {
      color: #84634b;
      img {
        width: 100%;
        height: 32.14%;
      }
      p {
        width: 100%;
        font-size: .3rem;
        text-align: center;
      }
      .p1-p1 {
        padding-top: .28rem;
      }
      .p1-p2, .p1-p3 {
        font-size: .48rem;
        font-weight: bold;
        color: #73533a;
      }
      .p1-p2 {
        padding-top: 8.88%;
      }
      .p1-p3 {
        padding-top: 0.335%;
      }
      .p1-p4 {
        padding-top: 12.26%
      }
      .p1-p4, .p1-p5, p1-p6 {
        padding-bottom: 1.5%;
      }
      .p1-p7, .p1-p8 {
        position: absolute;
        font-size: .36rem;
        color: #73533a;
      }
      .p1-p7 {
        bottom: 1.42rem;
        letter-spacing: .03rem;
      }
      .p1-p8 {
        bottom: .82rem;
        font-weight: bold;
      }
    }
    /*****p2*****/
    .p2 {
      .p2-swiper {
        height: 80%;
        img {
          width: 100%;
        }
      }
      .p2-dsb {
        position: absolute;
        bottom: 8.37%;
        width: 100%;
        text-align: center;
        font-size: .3rem;
        color: #84634b;
        z-index: 1;
      }
    }
    /*****p3*****/
    .p3 {
      div {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 998;
        width: 100%;
        height: 100%;
        background: url('') center/100% 100% no-repeat;
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 1.01rem;
          height: 1.01rem;
          z-index: 998;
        }
      }
    }
    /*****p4*****/
    .p4 {
      .p4-1 {
        position: relative;
        width: auto;
        transform: translate3d(-50%, 0, 0);
        height: 100%;
        z-index: 2;
      }
      .p4-2 {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2.44%;
        margin: auto;
        width: 2rem;
        height: 0.93rem;
        z-index: 3;
      }
    }
    /*****p5*****/
    .p5 {
      .p5-swiper {
        height: 54.53%;
        img {
          width: 100%;
        }
      }
      img {
        display: block;
        width: 2.24rem;
        height: auto;
        margin: 0 auto;
        margin-top: 3.57%;
      }
      ul {
        padding-top: 2.74%;
        width: 5.44rem;
        height: 26%;
        margin: 0 auto;
        overflow: hidden;
        li {
          width: 100%;
          height: 100%;
          text-align: center;
          h1 {
            color: #73533a;
            font-size: 0.48rem;
            line-height: 0.48rem;
          }
          p {
            padding-top: 0.64rem;
            color: #84634b;
            font-size: 0.3rem;
            line-height: 0.48rem;
          }
        }

      }
      @media screen and (max-height: 526px) {
        ul {
          height: 32%;
        }
      }

    }
    /*****p6*****/
    .p6 {
      p {
        width: 100%;
        font-size: .26rem;
        line-height: .26rem;
        text-align: center;
        color: #84634b;
      }
      .p6-des1 {
        padding-top: 7.46%;
      }
      .p6-des2 {
        padding-top: 3.8%;
      }
      img {
        height: 100%;
        width: 100%;
      }
      @media screen and (max-height: 526px) {
        .list2 img {
          height: 8.9rem;
        }
      }
    }
    /*****p7*****/
    .p7 {
      h1 {
        padding-top: 3.8%;
        width: 100%;
        text-align: center;
        font-size: .48rem;
        color: #73533a;
        line-height: .48rem;
        font-weight: 600;
      }
      .comments {
        position: relative;
        margin: 3.8% auto 0;
        width: 6.7rem;
        border: 1px solid #5c5d5d;
        textarea {
          display: block;
          margin: .2rem auto;
          width: 6.3rem;
          height: 2rem;
          border: none;
          outline: 0;
          font-family: 'Microsoft yahei';
          color: #84634b;
        }
        textarea::-webkit-input-placeholder {
          color: #84634b;
        }
        textarea::-ms-input-placeholder {
          color: #84634b;
        }
        a {
          position: absolute;
          right: .1rem;
          bottom: .1rem;
          width: 1.52rem;
          height: .6rem;
          font-size: .3rem;
          line-height: .6rem;
          color: #fff;
          background-color: #73533a;
          text-align: center;
        }

      }

      .moreComment {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 6.32%;
        width: 2.72rem;
        height: .72rem;
        line-height: 0.72rem;
        font-size: 0.3rem;
        text-align: center;
        color: #fff;
        background-color: #73533A;
      }

    }
    /*****p8、p9*****/
    .p8, .p9, .p10 {
      h1 {
        padding-top: 3.8%;
        width: 100%;
        font-size: 0.48rem;
        text-align: center;
        font-weight: bold;
        color: #73533a;
      }
    }
    .p8, .p9 {
      h1 {
        padding-top: 12.8%;
      }
      h2 {
        padding-top: 2.74%;
        width: 100%;
        font-size: 0.36rem;
        text-align: center;
        color: #84634b;
      }
      .tel, .code {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
      }
      .code {
        h3, h4, h5 {
          font-size: .3rem;
          color: #84634b;
          text-align: center;
        }

      }
      .codeImg {
        display: block;
        margin: 0 auto;
        width: 3.17rem;
        height: auto;
      }
      .tel {
        width: 4.11rem;
        bottom: 8.53%;
        p {
          padding-bottom: .32rem;
          width: 100%;
          text-align: center;
          font-size: .6rem;
          line-height: .6rem;
          color: #84634b;
        }
        a {
          width: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .p9 {
      .tel {
        .head {
          display: block;
          margin: 0 auto .3rem;
          width: 1.58rem;
          height: auto;
        }
        h3 {
          padding-bottom: 0.2rem;
          font-size: 0.3rem;
          line-height: 0.3rem;
          text-align: center;
          color: #84634b;
        }

      }
      @media screen and (max-height: 526px) {
        .tel .head {
          margin-bottom: 0.1rem;
        }
      }

    }
    /*****p10*****/
    .p10 {

      p {
        padding-bottom: 2.66%;
        width: 100%;
        font-size: 0.3rem;
        line-height: 0.3rem;
        text-align: center;
        color: #84634b;
      }
       p.control{
        padding-top: 4.72%;
      }
      .logo {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 3.2%;
        margin: auto;
        width: 2rem;
        height: 0.5rem;
      }
      #addSignUp{
        ul li input{
          color:#84634b;
          border: 1px solid   #5C5D5D;
        }
        ul li input::-webkit-input-placeholder{
          color:#84634b;
        }
        #getCode {
          background: #C49674;
        }
        #submit{
          background: #84634b;
        }
      }
    }
  }
  //向下互动提示箭头
  .arrow {
    position: absolute;
    bottom: .2rem;
    left: 50%;
    margin-left: -.3rem;
    z-index: 999;
    width: .6rem;
    height: .36rem;
    animation-name : arrowing;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
    -webkit-animation-name: arrowing;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    img{
      width:100%;
    }
    @keyframes arrowing {
      0% {
        transform: translateY(-5px);
        opacity: .8;
      }
      50% {
        transform: translateY(10px);
        opacity: 1;
      }
      100% {
        transform: translateY(-5px);
        opacity: .8;
      }
    }
    @-webkit-keyframes arrowing {
      0%{
        -webkit-transform: translateY(-5px);
        opacity: .8;
      }
      50% {
        -webkit-transform: translateY(10px);
        opacity: 1;
      }
      100% {
        -webkit-transform: translateY(-5px);
        opacity: .8;
      }
    }
  }
}

//评论列表
.comments-list {
  margin: 0 auto;
  width: 6.7rem;
  height: 48.33%;
  font-size: .16rem;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #f5f2ee;
  ul {
    padding-top: .32rem;
    li {
      margin-bottom: .72rem;
      padding-left: .33rem;
      width: 100%;
      height: 33.33%;
      .imgbox {
        position: relative;
        float: left;
        width: 1.02rem;
        height: 1.02rem;
        margin-right: .34rem;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }

      }
      .txtbox {
        padding-bottom: .2rem;
        float: left;
        width: 4.35rem;
        text-align: left;
        box-sizing: border-box;
        color: #797979;
        p {
          word-break: break-all;
          font-size: .25rem;
          line-height: .26rem;
        }
        p:nth-child(1) {
          color: #73533a;
          font-size: .3rem;
          line-height: .47rem;
          font-weight: bold;
        }
        p:nth-child(2) {
          color: #84634b;
        }
      }
    }
  }
}

//评论弹层
.commentPop{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: #fff;
  .commentPop-close {
    position: absolute;
    right: 0.4rem;
    top: 3%;
    width: 0.44rem;
    height: 0.44rem;
    background: url('http://s0.ifengimg.com/2017/10/31/close_894fadaa.jpg') no-repeat;
    background-size: 100% 100%;
  }
  .commentPop-title {
    width: 100%;
    font-size: 0.48rem;
    text-align: center;
    margin-top: 3.8%;
  }
  .outbox {
    margin-top: 3.2%;
    .comments-list{
      height: 9.19rem;
      overflow: hidden;
    }
  }

}







