/**************************************swiper***************************************/
.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  /*****p1*****/
  /*****p2*****/
  /*****p3*****/
  /*****p4*****/
  /*****p5*****/
}
.swiper-container .swiper-wrapper > .swiper-slide {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url('') center / 100% 100% no-repeat;
}
.swiper-container .swiper-wrapper > .swiper-slide .swiper-button-prev {
  background-image: url('http://s0.ifengimg.com/2017/11/09/prev_78887efa.png');
}
.swiper-container .swiper-wrapper > .swiper-slide .swiper-button-next {
  background-image: url('http://s0.ifengimg.com/2017/11/09/next_f79b9ed3.png');
}
.swiper-container .swiper-wrapper .p1 {
  color: #84634b;
}
.swiper-container .swiper-wrapper .p1 img {
  width: 100%;
  height: 32.14%;
}
.swiper-container .swiper-wrapper .p1 p {
  width: 100%;
  font-size: .3rem;
  text-align: center;
}
.swiper-container .swiper-wrapper .p1 .p1-p1 {
  padding-top: .28rem;
}
.swiper-container .swiper-wrapper .p1 .p1-p2,
.swiper-container .swiper-wrapper .p1 .p1-p3 {
  font-size: .48rem;
  font-weight: bold;
  color: #73533a;
}
.swiper-container .swiper-wrapper .p1 .p1-p2 {
  padding-top: 8.88%;
}
.swiper-container .swiper-wrapper .p1 .p1-p3 {
  padding-top: 0.335%;
}
.swiper-container .swiper-wrapper .p1 .p1-p4 {
  padding-top: 12.26%;
}
.swiper-container .swiper-wrapper .p1 .p1-p4,
.swiper-container .swiper-wrapper .p1 .p1-p5,
.swiper-container .swiper-wrapper .p1 p1-p6 {
  padding-bottom: 1.5%;
}
.swiper-container .swiper-wrapper .p1 .p1-p7,
.swiper-container .swiper-wrapper .p1 .p1-p8 {
  position: absolute;
  font-size: .36rem;
  color: #73533a;
}
.swiper-container .swiper-wrapper .p1 .p1-p7 {
  bottom: 1.42rem;
  letter-spacing: .03rem;
}
.swiper-container .swiper-wrapper .p1 .p1-p8 {
  bottom: .82rem;
  font-weight: bold;
}
.swiper-container .swiper-wrapper .p2 .p2-swiper {
  height: 80%;
}
.swiper-container .swiper-wrapper .p2 .p2-swiper img {
  width: 100%;
}
.swiper-container .swiper-wrapper .p2 .p2-dsb {
  position: absolute;
  bottom: 8.37%;
  width: 100%;
  text-align: center;
  font-size: .3rem;
  color: #84634b;
  z-index: 1;
}
.swiper-container .swiper-wrapper .p3 div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background: url('') center / 100% 100% no-repeat;
}
.swiper-container .swiper-wrapper .p3 div img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 1.01rem;
  height: 1.01rem;
  z-index: 998;
}
.swiper-container .swiper-wrapper .p4 .p4-1 {
  position: relative;
  width: auto;
  transform: translate3d(-50%, 0, 0);
  height: 100%;
  z-index: 2;
}
.swiper-container .swiper-wrapper .p4 .p4-2 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2.44%;
  margin: auto;
  width: 2rem;
  height: 0.93rem;
  z-index: 3;
}
.swiper-container .swiper-wrapper .p5 .p5-swiper {
  height: 54.53%;
}
.swiper-container .swiper-wrapper .p5 .p5-swiper img {
  width: 100%;
}
.swiper-container .swiper-wrapper .p5 img {
  display: block;
  width: 2.24rem;
  height: auto;
  margin: 0 auto;
  margin-top: 3.57%;
}
.swiper-container .swiper-wrapper .p5 ul {
  padding-top: 2.74%;
  width: 5.44rem;
  height: 26%;
  margin: 0 auto;
  overflow: hidden;
}
.swiper-container .swiper-wrapper .p5 ul li {
  width: 100%;
  height: 100%;
  text-align: center;
}
.swiper-container .swiper-wrapper .p5 ul li h1 {
  color: #73533a;
  font-size: 0.48rem;
  line-height: 0.48rem;
}
.swiper-container .swiper-wrapper .p5 ul li p {
  padding-top: 0.64rem;
  color: #84634b;
  font-size: 0.3rem;
  line-height: 0.48rem;
}
@media screen and (max-height: 526px) {
  .swiper-container .swiper-wrapper .p5 ul {
    height: 32%;
  }
}
.swiper-container .arrow {
  position: absolute;
  bottom: .2rem;
  left: 50%;
  margin-left: -0.3rem;
  z-index: 999;
  width: .6rem;
  height: .36rem;
  animation-name: arrowing;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-name: arrowing;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}
.swiper-container .arrow img {
  width: 100%;
}
@keyframes arrowing {
  0% {
    transform: translateY(-5px);
    opacity: .8;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(-5px);
    opacity: .8;
  }
}
@-webkit-keyframes arrowing {
  0% {
    -webkit-transform: translateY(-5px);
    opacity: .8;
  }
  50% {
    -webkit-transform: translateY(10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-5px);
    opacity: .8;
  }
}
